.profile__description {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 445px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
